# Telegram Bot
BOT_TOKEN=
ADMIN_CHAT_ID=
CHANNEL_ID=

# Database
# Production (PostgreSQL):
DATABASE_URL=postgresql+asyncpg://user:pass@localhost/chmgold
# Local development (SQLite):
# DATABASE_URL=sqlite+aiosqlite:///./chmgold.db

# CryptoXchange API
CXC_API_LOGIN=72Gr3iZwbIxSPqU1smmZIN8YUsJ48Q59
CXC_API_KEY=H6szJSeHnjGzPTlRILqfXB6QXo3k2Fkc
